#
# phpBB Imageset Configuration File
#
# @package phpBB3
# @copyright (c) 2006 phpBB Group
# @license http://opensource.org/licenses/gpl-license.php GNU Public License
#
#
# At the left is the name, please do not change this
# At the right the value is entered
# For on/off options the valid values are on, off, 1, 0, true and false
#
# Values get trimmed, if you want to add a space in front or at the end of
# the value, then enclose the value with single or double quotes.
# Single and double quotes do not need to be escaped.
#
#

# General Information about this style
name = MDN
copyright = &copy; Mozilla, 2010
version = 1.0

# Images
img_subforum_read = subforum_read.gif*9*11
img_subforum_unread = subforum_unread.gif*9*11
img_icon_back_top = icon_back_top.gif*11*11
img_icon_post_target = icon_post_target.gif*9*11
img_icon_post_target_unread = icon_post_target_unread.gif*9*11

img_icon_topic_attach = icon_topic_attach.gif*10*7
img_icon_topic_latest = icon_topic_latest.gif*9*11
img_icon_topic_newest = icon_topic_newest.gif*9*11
img_icon_topic_reported = icon_topic_reported.png*13*14
img_icon_topic_unapproved = icon_topic_unapproved.png*13*14

