<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}" {S_FORM_ENCTYPE} class="user-input">
  <h2>{L_TITLE}</h2>
  <p>{L_FOES_EXPLAIN}</p>
  
  <fieldset class="friends-foes">
    <!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
  	<p><label <!-- IF S_USERNAME_OPTIONS -->for="usernames"<!-- ENDIF -->>{L_YOUR_FOES} <span class="note">{L_YOUR_FOES_EXPLAIN}</span></label>
  	<!-- IF S_USERNAME_OPTIONS -->
  		<select name="usernames[]" id="usernames" multiple="multiple" size="5">{S_USERNAME_OPTIONS}</select>
  	<!-- ELSE -->
  		<strong>{L_NO_FOES}</strong>
  	<!-- ENDIF -->
  	</p>
  
  	<p><label for="add">{L_ADD_FOES} <span class="note">{L_ADD_FOES_EXPLAIN}</span></label> 
      <textarea name="add" id="add" rows="3" cols="30" class="inputbox">{USERNAMES}</textarea>
      <br /><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong>
  	</p>
  </fieldset>

  <fieldset class="submit-buttons">
  	{S_HIDDEN_FIELDS}
  	<button type="submit" name="submit" value="{L_SUBMIT}">{L_SUBMIT}</button>&nbsp;
  	<button type="reset" value="{L_RESET}" name="reset">{L_RESET}</button> 
  	{S_FORM_TOKEN}
  </fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->