<h2 class="section-title">{L_TITLE}<!-- IF CUR_FOLDER_NAME -->: {CUR_FOLDER_NAME}<!-- ENDIF --></h2>

	<!-- IF FOLDER_STATUS and FOLDER_MAX_MESSAGES neq 0 --><p class="folder-status">{FOLDER_STATUS}</p><!-- ENDIF -->

	<!-- IF U_POST_REPLY_PM or U_POST_NEW_TOPIC or U_FORWARD_PM -->
		<div class="actions">
			<!-- IF U_POST_REPLY_PM --><a class="pmreply button" title="{L_POST_REPLY_PM}" href="{U_POST_REPLY_PM}">{L_POST_REPLY_PM}</a>
			<!-- ELSEIF U_POST_NEW_TOPIC --><a class="newpm button" href="{U_POST_NEW_TOPIC}" accesskey="n" title="{L_UCP_PM_COMPOSE}">{L_UCP_PM_COMPOSE}</a><!-- ENDIF -->
			<!-- IF U_FORWARD_PM --><a class="forwardpm button" title="{L_POST_FORWARD_PM}" href="{U_FORWARD_PM}">{L_FORWARD_PM}</a><!-- ENDIF -->
    <!-- IF TOTAL_MESSAGES or S_VIEW_MESSAGE -->
  		<p class="pages">
  			<!-- IF S_VIEW_MESSAGE --><a class="{S_CONTENT_FLOW_BEGIN}" href="{U_CURRENT_FOLDER}">{L_RETURN_TO} {CUR_FOLDER_NAME}</a><!-- ENDIF -->
  			<!-- IF FOLDER_CUR_MESSAGES neq 0 -->
  				<!-- IF TOTAL_MESSAGES -->{TOTAL_MESSAGES}<!-- ENDIF -->
  				<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> | <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> | <span class="pagination">{PAGINATION}</span><!-- ELSE --> | {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
  			<!-- ENDIF -->
  		</p>
    <!-- ENDIF -->
		</div>

		<!-- IF U_POST_REPLY_PM and S_PM_RECIPIENTS gt 1 -->
			<div class="reply-all"><a title="{L_REPLY_TO_ALL}" href="{U_POST_REPLY_ALL}">&raquo; {L_REPLY_TO_ALL}</a></div>
		<!-- ENDIF -->

	<!-- ENDIF -->

<form id="viewfolder" method="post" action="{S_PM_ACTION}" class="user-input">
